<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <br>
    <p>
        <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
        <a class="botonVolver" href="/">inicio</a>

    </p>
    <br>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
          <li>
            <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
          </li>
          <% if(movies[i].genres){ %>
            <p>Genre: <%=movies[i].genres.name %> </p>
          <% } %>
          <p>Actors:</p>
          <ul>
            <% for (let j = 0; j < movies[i].actors.length; j++) {%>
              
                <li>
                  <%= movies[i].actors[j].first_name %>
                  <%= movies[i].actors[j].last_name %>
                </li>
              
            <%} %>
          </ul>
        <% } %>

    </ul>
</body>

</html>